# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# The components are owned by their respective teams
/FV3/ @noaa-emc/fv3atm-team
