[submodule "atmos_cubed_sphere"]
  path = atmos_cubed_sphere
  url = https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere
  branch = dev/emc
[submodule "ccpp/framework"]
  path = ccpp/framework
  #url = https://github.com/NCAR/ccpp-framework
  #branch = main
  url = https://github.com/mkavulich/ccpp-framework
  branch = feature/track_variables_tests
[submodule "ccpp/physics"]
  path = ccpp/physics
  url = https://github.com/AnningCheng-NOAA/ccpp-physics
  branch = mr2_innl
[submodule "upp"]
  path = upp
  url = https://github.com/NOAA-EMC/UPP
  branch = develop
