[submodule "atmos_cubed_sphere"]
	path = atmos_cubed_sphere
	url = https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere
	branch = ufs-release/public-v1
[submodule "ccpp/framework"]
	path = ccpp/framework
	url = https://github.com/NCAR/ccpp-framework
	branch = release/public-v4
[submodule "ccpp/physics"]
	path = ccpp/physics
	url = https://github.com/NCAR/ccpp-physics
	branch = release/public-v4
