[submodule "atmos_cubed_sphere"]
	path = atmos_cubed_sphere
	url = https://github.com/SMoorthi-emc/GFDL_atmos_cubed_sphere
	branch = SM_Jul092020
[submodule "ccpp/framework"]
	path = ccpp/framework
	url = https://github.com/SMoorthi-emc/ccpp-framework
	branch = SM_Jul092020
[submodule "ccpp/physics"]
	path = ccpp/physics
	url = https://github.com/SMoorthi-EMC/ccpp-physics
	branch = SM_Jul202020
